/*This is just an example of a CSS declaration block.  Add your own selectors, property names and property values underneath. */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  color: white;
}


.big {
	font-size: 125%;
}

.jumbotron {
	background-image: url("../images/warwick.jpg");
	background-size: cover;
}

.col-md-4{
	color: grey;
	background-image: url(../images/student.jpg);
}
.col-md-8{
	color: grey;

}